!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      #{@user.cohort.course.title} @ #{@user.cohort.location.name} has a new assignment!
    %p
      #{user.name}, because you have enrolled in #{@user.cohort.course.title}, you have homework to do!
      %br/
    %p Have a great day!