.container
  .div.row
    .col-md-6
      %h3 
        = @homework.title
      .well
        = @homework.notes
      .well-sm
      .list-group
        - @homework.links.each do |f|
          %a.list-group-item{:href => "http://#{f.path}"}=f.path
      