<h3>Let's post to the Messageboard!</h3>
<a href="/">Back</a>


<form action="/create_post" method="post">
  <label for="author">Username:</label>
  <input type="text" id="author" name="post[author]">
  <br>
  <label for="subject">Subject:</label>
  <input type="text" id="subject" name="post[subject]">
  <br>
  <label for="author_email">User e-Mail Address:</label>
  <input type="text" id="author_email" name="post[author_email]">
  <br>
  <label for="content">Post:</label>
  <textarea id="content" name="post[content]" cols="100" rows="15" placeholder="Document your thoughts here!"></textarea>
  <br>
  <input type="submit" value="Create Post">
</form>
<hr>